[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "EpiMix"]
	path = EpiMix
	url = https://github.com/gevaertlab/epimix
	shallow = true
	registered = true
